<ion-header class="custom">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="navigateBack()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lista de Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="main-container">
    
    <div class="first-row">
      <h1>Usuários</h1>
      <ion-button mode="ios" color="tertiary">
        Adicionar Usuário
        <ion-icon slot="end" name="person-add"></ion-icon>
      </ion-button>
    </div>

    <ion-searchbar placeholder="Buscar" clear-icon="close" mode="ios" class="ion-no-padding"></ion-searchbar>

    <ion-grid>
      <ion-row class="header">
        <ion-col>ID</ion-col>
        <ion-col>Nome</ion-col>
        <ion-col>Usuário</ion-col>
      </ion-row>
    </ion-grid>
  </div>



</ion-content>
