<ion-header class="custom">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" (click)="navigateBack()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lista de Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="main-container">
    
    <div class="first-row">
      <h1>Usuários</h1>
      <ion-button mode="ios" color="tertiary" (click)="openItem(0)">
        Adicionar Usuário
        <ion-icon slot="end" name="person-add"></ion-icon>
      </ion-button>
    </div>

    <ion-searchbar placeholder="Buscar" clear-icon="close" mode="ios" class="ion-no-padding"></ion-searchbar>

    <ion-grid>
      <ion-row class="header">
        <ion-col>ID</ion-col>
        <ion-col>Nome</ion-col>
        <ion-col>Usuário</ion-col>
        <ion-col>Tipo</ion-col>
        <ion-col>Data Criação</ion-col>
        <ion-col>Excluir</ion-col>
      </ion-row>

      <ion-row class="item" *ngFor="let p of usuarios">
        <ion-col (click)="openItem(p.id)">{{p.id}}</ion-col>
        <ion-col (click)="openItem(p.id)">{{p.nome}}</ion-col>
        <ion-col (click)="openItem(p.id)">{{p.login}}</ion-col>
        <ion-col (click)="openItem(p.id)">{{p.tipo_descricao}}</ion-col>
        <ion-col (click)="openItem(p.id)">{{p.data_criacao.toLocaleDateString()}}</ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="delete(p)" size="small">
            <ion-icon slot="icon-only" color="dark" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>



</ion-content>
