<ion-menu contentId="main-content">
  <ion-header class="custom">
    <ion-toolbar color="tertiary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item *ngIf="this.servidor.usuario.tipo_acesso == 2 || this.servidor.usuario.tipo_acesso == 1" [button]="true" (click)="open('/lista-patrimonios')">
        <ion-icon name="layers" color="dark" slot="end"></ion-icon>
        <ion-label>Patrimônios</ion-label>
      </ion-item>
      <ion-item *ngIf="this.servidor.usuario.tipo_acesso == 2" [button]="true" (click)="open('/lista-usuarios')">
        <ion-icon name="person" color="dark" slot="end"></ion-icon>
        <ion-label>Usuários</ion-label>
      </ion-item>
      <ion-item [button]="true" (click)="open('/lista-chamados')">
        <ion-icon name="chatbubble-ellipses" color="dark" slot="end"></ion-icon>
        <ion-label>Chamados</ion-label>
      </ion-item>
      <ion-item [button]="true" (click)="open('/home')">
        <ion-icon name="log-out" color="dark" slot="end"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header class="custom">
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Bem-vindo, {{servidor.usuario.nome}}!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <div *ngIf="this.servidor.usuario.tipo_acesso==0"> <!-- Tela para usuarios -->
      <h1>Ola</h1>
    </div>



  </ion-content>
</div>