<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">usuarios</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <h2>Usuários</h2>
  
    <form (ngSubmit)="onSubmit(usuarios)">
  
      <ion-list>
          <ion-select label="Escolha o tipo de usuário" placeholder="Selecione o Usuário">
            <ion-select-option value="Cliente">Cliente</ion-select-option>
            <ion-select-option value="Funcionário">Funcionário</ion-select-option>
            <ion-select-option value="Gerente">Gerente</ion-select-option>
          </ion-select>        
        </ion-item>




        <ion-item>
          <ion-input type="password" label="Senha" labelPlacement="stacked" placeholder="Digite a senha" [(ngModel)]="usuario.senha" name="senha" required="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="usuario" labelPlacement="stacked" placeholder="Digite o usuario" [(ngModel)]="usuario.senha" name="usuario" required="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" label="nome" labelPlacement="stacked" placeholder="Digite o nome" [(ngModel)]="usuario.senha" name="nome" required="true"></ion-input>
        </ion-item>

      </ion-list>
    
      <ion-button color="tertiary" type="submit" [disabled]="!usuario.tipo || !usuario.senha">Salvar</ion-button>
      <ion-button color="dark" (click)="close()">Fechar</ion-button>
  
    </form>
</ion-content>
