.container {
  margin: 50px auto;
  background-color: #130e2b;
  height: 620px;
  width: 420px;
  border-radius: 15px;
  padding: 20px;
  align-content: center;
}

.container ion-img {
  margin: 0 auto;
  height: 90px;
  width: 60px
}

.container ion-row {
  margin-top: 8px;
}

.loginBtn {
  width: 100%;
  height: 50px;
  border: solid 1px white;
  border-radius: 2px;
}