.content-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(145deg, #f6f6f6, #cfcfcf);
}

.container {
  width: 920px;
  max-width: 100%;
  height: 580px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  padding: 0;
  background-color: white;
  box-shadow:  25px 25px 50px #b1b1b1,
  -25px -25px 50px #ffffff;
}

.container-leftside {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 20px 40px;
  background-color: white;
  height: 100%;
  width: 40%;
}

.container-rightside {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #291156;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .img {
  margin: 0 auto;
  scale: 2.5;
  height: 90px;
  width: 60px
}

.container ion-row {
  margin-top: 8px;
}

.container h1 {
  text-align: center;
  color:black;
  font-size: 55px;
}

.loginBtn {
  width: 100%;
  height: 50px;
  border: solid 1px white;
  border-radius: 2px;
}

.registerLabel {
  color: #0230ff;
  cursor: pointer;
}

.lampText {
  text-align: center;
  color: white;
}

// Classes para mobile
.content-all-mob {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #171717;
  flex-direction: column;

  h1 {
    text-align: center;
    font-size: 60px;
  }
}

.imgmob {
  width: 30%;
  height: 30%;
}

.middlemob {
  background-color: rgba(41, 17, 86, 0.479);
  justify-self: center;
  
  width: 95%;
  border-radius: 15px;
  padding-bottom: 4%;
}

.loginBtnmob {
  width: 100%;
  height: 50px;
}
