<ion-header class="custom">
  <ion-toolbar>
    <ion-title>Patrimônio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input label="Descrição" label-placement="floating" fill="outline" [(ngModel)]="patrimonio.descricao" type="text"></ion-input>
  <ion-input label="Quantidade" label-placement="floating" fill="outline" [(ngModel)]="patrimonio.quantidade" type="text"></ion-input>
  <ion-button color="dark">Fechar</ion-button>
  <ion-button color="tertiary">Salvar</ion-button>
</ion-content>
