<ion-header class="custom">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="close()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Patrimônio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Cadastro de Patrimônio</h2>

  <form (ngSubmit)="onSubmit(patrimonio)">

    <ion-list>
      <ion-item>
        <ion-input label="Descrição" labelPlacement="stacked" placeholder="Digite a Descrição" [(ngModel)]="patrimonio.descricao" name="descricao" required="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="number" label="Quantidade" labelPlacement="stacked" placeholder="Digite a quantidade" [(ngModel)]="patrimonio.quantidade" name="quantidade" required="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="number" label="Valor" labelPlacement="stacked" placeholder="Digite o valor" [(ngModel)]="patrimonio.valor" name="valor" required="true"></ion-input>
      </ion-item>
    </ion-list>
  
    <ion-button color="tertiary" type="submit" [disabled]="!patrimonio.descricao || !patrimonio.quantidade || !patrimonio.valor">Salvar</ion-button>
    <ion-button color="dark" (click)="close()">Fechar</ion-button>

  </form>
</ion-content>
